/*#region Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  text-align: center;
}

header {
  display: flex;
  top: 0;
  position: sticky;
  width: 100%;
  margin: auto;
  height: 7vh;
  align-items: center;
  background: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px -2px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

main {
  width: 80%;
  margin: auto;
}

h1 {
  color: #29267e;
}

p {
  text-align: left;
}

/*#endregion */

/*#region Navbar */
.logo,
.nav-links,
.social-links {
  display: flex;
}

.logo-wrapper {
  flex: 3;
}

.logo {
  font-weight: 600;
  font-family: 'Arial';
  font-size: 22px;
  margin: 30px;
  color: #29267e;
}

header {
  z-index: 1;
}

nav {
  flex: 2;
}

.nav-links {
  margin-right: 30px;
  justify-content: space-evenly;
}

/*#endregion */

/*#region TODO: About Section */
.about-section {
  display: flex;
  flex-direction: column;
  margin: 150px 0;
}

.about-section p {
  font-size: 25px;
  text-align: center;
  margin-top: 25px;
}

/*#endregion*/

/*#region TODO: Projects Section */
.projects-section {
  padding-top: 100px;
  border-top: 1px solid rgba(34, 34, 34, 0.2);
}

.project-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 30px 0;
  height: 40%;
  width: 60%;
  border: 1px solid rgba(34, 34, 34, 0.3);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.card-header,
.card-header h1 {
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  color: #333333;
}

.card-content {
  display: flex;
}

.card-body {
  flex: 2;
}

.card-body img {
  width: 100%;
  height: 100%;
  filter: blur(.7px);
}

.card-aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(34, 34, 34, 0.2);
  font-size: 100%;
}

.aside-body {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}


.aside-lang {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.aside-lang {
  justify-content: center;
  align-items: center;
}

.aside-lang ul {
  display: flex;
  flex-wrap: wrap;
}

.aside-lang li {
  margin: 3px 5px;
  border: 1px solid rgba(34, 34, 34, 0.2);
  padding: 5px 10px;
  font-size: 80%;
}

.aside-footer {
  flex: 1;
}

.aside-footer a:hover {
  border: 1px solid rgba(34, 34, 34, 0.2);
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.aside-footer i {
  margin-right: 5px;
}

/*#endregion */

/*#region TODO: Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
}

.contact-links {
  display: flex;
  flex-direction: row;
}

.contact-links li {
  margin: 20px;
  font-size: 24px;
}

/*#endregion */

/*#region Footer */
footer {
  border-top: 1px solid rgba(34, 34, 34, 0.2);
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding: 10px 0;

}

footer a {
  color: #534cff;
}

footer a:hover {
  text-decoration: underline;
}

/*#endregion */

/*#region TODO: Media Queries */
@media screen and (max-width: 1024px) {
  .logo-wrapper {
    display: none;
  }

  .nav-links {
    justify-content: space-evenly;
  }

  .card {
    height: 20%;
    width: 100%;
  }

  .card-body img {
    height: 100%;

  }

  .card-content {
    flex-direction: column;
  }

  .aside-body {
    margin: 0;
    padding: 5px;
    border-top: 1px solid rgba(34, 34, 34, 0.2);
  }

  .aside-footer {
    padding: 10px;
  }
}

@media screen and(max-width: 411px) {}

/*#endregion */