/*#region Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  text-align: center;
}

header {
  display: flex;
  top: 0;
  position: sticky;
  width: 100%;
  margin: auto;
  height: 7vh;
  align-items: center;
  background: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px -2px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

main {
  width: 80%;
  margin: auto;
}

/*#endregion */

/*#region Navbar */
.logo,
.nav-links,
.social-links {
  display: flex;
}

.logo-wrapper {
  flex: 3;
}

.logo {
  font-weight: 600;
  margin: 30px;
}

nav {
  flex: 2;
}

.nav-links {
  margin-right: 30px;
  justify-content: space-around;
}

/*#endregion */

/*#region TODO: About Section */
.about-section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

/*#endregion*/

/*#region TODO: Projects Section */
.projects-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(34, 34, 34, 0.2);
}

.project-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 20px;
  height: 40%;
  width: 80%;
  border: 1px solid rgba(34, 34, 34, 0.3);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  cursor: pointer;
}

.card-header {
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
}

.card-content {
  display: flex;
}

.card-body {
  margin: 0;
  padding: 0;
  flex: 2;
}

.card-body img {
  width: 100%;
  height: 100%;
}

.card-aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-left: 1px solid rgba(34, 34, 34, 0.2);
  font-size: 100%;
}

.aside-body {
  background: lightblue;
  flex: 1;
}

.aside-body p {
  text-align: center;
}

.aside-footer {
  background: lightcoral;
  flex: 1;
  display: flex;
}

.aside-footer {
  justify-content: center;
  align-items: center;
}

.aside-footer ul {
  display: flex;
}

.aside-footer li {
  margin: 0 10px;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 80%;
}

/*#endregion */

/*#region TODO: Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(34, 34, 34, 0.2);
}

.contact-links {
  display: flex;
  flex-direction: row;
}

.contact-links li {
  margin: 20px;
  font-size: 22px;
}

/*#endregion */

/*#region TODO: Media Queries */
@media screen and (max-width: 768px) {
  .logo-wrapper {
    display: none;
  }

  .nav-links {
    justify-content: space-evenly;
  }

  .card {
    height: 80%;
    width: 80%;
  }

  .card-content {
    flex-direction: column;
  }
  .aside-footer {
    margin-top: 5px;
  }

  .aside-footer li {
    font-size: 50%;
  }
}

/*#endregion */
